#chatWindow{
    border: 1px solid black;
    width: 180vh;
    height: 90vh;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: scroll;
}

#sendMessage{
    width: 90vw;
    height: 3vh;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    margin-top: 10px;
}
#sendMessage input{
    border: 1px solid black;
    width: 70%;
    height: 80%;
}

::-webkit-scrollbar{
    width: 20px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px grey;
}
::-webkit-scrollbar-thumb{
    background: black;
}
::-webkit-scrollbar-thumb:hover{
    background: gray;
}